[submodule "Assets/com.pablosorribes.fmodhelper"]
	path = Assets/com.pablosorribes.fmodhelper
	url = https://github.com/PabloSorribes/com.pablosorribes.fmodhelper.git
[submodule "Assets/com.pablosorribes.unity-audio-tools"]
	path = Assets/com.pablosorribes.unity-audio-tools
	url = ../com.pablosorribes.unity-audio-tools.git
[submodule "Assets/com.paalo.unity-misc-tools"]
	path = Assets/com.paalo.unity-misc-tools
	url = https://github.com/PabloSorribes/com.paalo.unity-misc-tools.git
[submodule "Assets/com.paalo.unity-audio-tools"]
	path = Assets/com.paalo.unity-audio-tools
	url = ../com.paalo.unity-audio-tools.git
[submodule "Assets/com.paalo.package-creator-tool"]
	path = Assets/com.paalo.package-creator-tool
	url = ../com.paalo.package-creator-tool.git
[submodule "Assets/com.paalo.fmod-helper"]
	path = Assets/com.paalo.fmod-helper
	url = ../com.paalo.fmod-helper.git
